
@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik-Regular.woff2") format("woff2"),
        url("../fonts/Rubik-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik-Medium.woff2") format("woff2"),
        url("../fonts/Rubik-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


:root {
    --text-color: #242A45;
    --acsent-color: #5267DF;
    --text-color-hover: #FA5959;
    --text-white-color: #fff;
}

/* GLOBAL */
html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*, *::after, *::before {
    box-sizing: inherit;
}

*:focus {
    outline: 3px dashed var(--acsent-color);
    outline-offset: 3px;
}


*::selection {
    color: #fff;
    background-color: #000;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #fff;
    font-size: 18px;
    line-height: 28px;
    font-family: "Rubik", "Arial", sans-serif;
    font-weight: 400;
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

/* CONTAINER */
.container {
    width: 100%;
    /* 1184-content */
    max-width: 1214px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* MAIN-CONTENT */
.main-content {
    flex-grow: 1;
}

/* HEADER */
.site-header {
    background-color: #fff;
    margin-bottom: 66px;
    padding-top: 48px;
    padding-bottom: 48px;
}

.site-header__container {
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
    align-items: center;
    padding-left: 6px;
    padding-right: 74px;
}

.logo-link {
    display: flex;
    width: 149px;
    height: 25px;
    margin-right: 10px;
}

.site-header__logo {
    color: #fff;
}

.sitenav-wrapper {
    display: flex;
    align-items: center;
}

.site-header__sitenav {
    margin-right: 48px;
}

.sitenav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.sitenav__item:first-child {
    margin-right: 44px;
}

.sitenav__item:nth-child(2) {
    margin-right: 48px;
}

.sitenav__link {
    text-decoration: none;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    display: inline-block;
}

.site-header__sitenav-link {
    color: var(--text-color);
}

.sitenav__link:hover {
    color: var(--text-color-hover);
}

.sitenav__link:active {
    opacity: 0.8;
}

.main-btn {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    background-color: var(--text-color-hover);
    border-radius: 5px;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 1.5px;
    color: var(--text-white-color);
    border: 2px solid transparent;
    transition:
        color 0.4s ease,
        border 0.4s ease,
        background-color 0.4s ease;
    cursor: pointer;
}

.main-btn:hover {
    border: 2px solid var(--text-color-hover);
    color: var(--text-color-hover);
    background-color: var(--text-white-color);
}

.site-header__btn {
    padding: 12px 32px 11px 34px;
    /* margin-bottom: 6px; */
    width: 111px;
}


/* HERO */
.hero {
    background-image: url("../img/hero-bg.svg");
    background-repeat: no-repeat;
    background-position: calc(50% + 670px) 133px;
    margin-bottom: 73px;
}

.hero__container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.hero__inner {
    width: 540px;
    margin-right: 65px;
    padding-top: 71px;
    padding-bottom: 23px;
}

.hero__title {
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -0.15px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 24px;
}

.hero__text {
    opacity: 0.5;
    margin-top: 0;
    margin-bottom: 32px;
}

.hero__btn-wrapper {
    display: flex;
}

.button {
    padding: 10px 24px;
    border-radius: 5px;
    box-shadow: 0px 8px 8px -4px #495DCF33;
    text-decoration: none;
    white-space: nowrap;
    border: 2px solid transparent;
    font-size: 14px;
    line-height: 28px;
    display: inline-block;
    letter-spacing: 0.25px;
    font-weight: 500;
    transition:
        background-color 0.4s ease,
        color 0.4s ease,
        border 0.4s ease;
}

.button-blue {
    background-color: var(--acsent-color);
    margin-right: 16px;
    color: var(--text-white-color);
}

.button-blue:hover {
    color: var(--acsent-color);
    border: 2px solid var(--acsent-color);
    background-color: transparent;
}

.button-grey {
    background-color: #F7F7F7;
    color: var(--text-color);
}

.button-grey:hover {
    background-color: #fff;
    border: 2px solid #5B6074;
}

.hero__img {
    box-shadow: 0px 2px 4px 0px #00000080;
    border-radius: 25px;
    width: 578px;
    height: 385px;
    display: block;
}

.home-page-section__inner {
    margin-bottom: 72px;
}

.home-page-section__title {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 52px;
    letter-spacing: -0.1px;
    font-weight: 500;
}

.features__title {
    text-align: center;
    width: 348px;
    margin-left: 382px;
}

.home-page-section__text {
    margin-top: 0;
    margin-bottom: 0;
    width: 540px;
    text-align: center;
}

.features__text {
    margin-left: 285px;
}

.carousel {
    display: flex;
    justify-content: space-between;
    width: 729px;
    margin-left: 190px;
    margin-bottom: 72px;
    border-bottom: 1px solid rgba(73, 93, 207, 0.2);
}

.carousel__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel__btn {
    border: none;
    outline: none;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: 0.53px;
    background-color: transparent;
    margin-bottom: 27px;
    display: inline-block;
    cursor: pointer;
}

.carousel__line {
    width: 243px;
    height: 4px;
    background-color: transparent;
}

.carousel__line--show {
    background-color: var(--text-color-hover);
}

/* CTA */
.cta {
    background-image: url("../img/hero-bg.svg");
    background-position: calc(50% - 616px) 81px;
    background-repeat: no-repeat;
    margin-bottom: 149px;
}

.cta-click {
    display: none;
}

.cta-search {
    display: none;
}

.cta-share {
    display: none;
}


.cta--show {
    display: block;
}

.cta__container {
    display: flex;
    padding-bottom: 89px; 
}

.cta__img {
    width: 536px;
    height: 346px;
    display: block;
    margin-right: 125px;
}

.cta__inner {
    width: 445px;
    margin-right: 125px;
    padding-top: 57px;
    padding-bottom: 57px;
}

.cta__title {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 32px;
    line-height: 52px;
    letter-spacing: -0.1px;
}

.cta__text {
    margin-top: 0;
    margin-bottom: 32px;
    width: 445px;
}

/* DOWNLOAD */
.download {
    margin-bottom: 149px;
}

.download__inner {
    margin-bottom: 48px;
}

.download__title {
    width: 540px;
    margin-left: 375px;
    text-align: start;
}

.download__text {
    margin-left: 285px;
}

.card {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: flex-start;
    padding-left: 101px;
    padding-right: 101px;
    flex-wrap: wrap;
}

.card__item {
    box-shadow: 0px 10px 20px -5px #495DCF33;
    background-color: #fff;
    border-radius: 15px;
    padding-top: 49px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 280px;
}

.card__item:first-child {
    margin-right: 34px;
}

/* .card__item:nth-child(2n + 3) {
    margin-right: 37px;
    margin-top: 40px;
} */

.card__item:nth-child(2) {
    margin-top: 40px;
    margin-right: 37px;
}

.card__item:nth-child(3n) {
    margin-top: 80px;
}

/* .card__item:nth-child(2n + 3) {
    margin-top: 40px;
} */

.card__img {
    width: 102px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
}

.card__title {
    font-size: 20px;
    line-height: 23.7px;
    letter-spacing: 0.25px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 6px;
    text-align: center;
}

.card__text {
    margin-top: 0;
    margin-bottom: 60px;
    opacity: 0.5;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

.card__btn {
    margin-top: auto;
    padding: 10px 35px;
    display: block;
    width: 100%;
}

/* FAQ */
.faq {
    padding-bottom: 150px;
}

.faq__container {
    /* padding-left: 307px;
    padding-right: 307px; */
}

.faq__inner {
    width: 540px;
    padding-left: 307px;
    padding-right: 307px;
}

.faq__title {
    margin-left: 35px;
    margin-bottom: 16px;
    width: 429px;
    white-space: nowrap;
}

.faq__text {
    width: 540px;
    text-align: center;
    margin-left: -22px;
}

/* ACCORDION */
.accordion {
    margin-bottom: 54px;
    padding-left: 284px;
    padding-right: 360px;
}

.accordion__item {
    border-bottom: 1px solid rgba(36, 42, 69, 0.1477);
}

.accordion__item:first-child {
    border-top: 1px solid rgba(36, 42, 69, 0.1477);
}

.accardion__inner:hover .accordion__title {
    color: var(--text-color-hover);
}

.accordion__btn {
    border: none;
    background-color: transparent;
    width: 100%;
    cursor: pointer;
    outline: none;
}

.accardion__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 24px 13px 0;
}

.accordion__title {
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    transition: color 0.4s ease;
}

.accordion__icon {
    color: #5267DF;
    transition:
        color 0.4s ease,
        transform 0.4s ease;
}

.accordion__text-wrapper {
    display: none;
}

.accordion__icon--rotate {
    transform: rotateX(180deg);
    color: var(--text-color-hover);
    transform:
        transform 0.4s ease,
        color 0.4s ease;
}

.accordion__text-wrapper--show {
    display: block;
}

.faq__btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CONTACT */
.contact *:focus {
    --acsent-color: var(--text-color-hover);
}

.contact {
    background-color: var(--acsent-color);
}

.contact__container {
    color: #fff;
    max-width: 462px;
    padding-top: 58px;
    padding-bottom: 74px;
}

.contact__text {
    text-align: center;
    font-weight: 500;
    line-height: 40px;
    font-size: 13px;
    letter-spacing: 5px;
    margin-top: 0;
    margin-bottom: 24px;
}

.contact__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.1px;
    text-align: center;
    margin-bottom: 36px;
}

.contact__form {
    display: flex;
}

.contact__input {
    margin-right: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid transparent;
    width: 300px;
    display: inline-block;
}

.contact__input::placeholder {
    color: #242A4540;
}

.contact__input:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    
}

.contact__input:focus {
    border: 1px solid rgb(87, 81, 81);
}

.site-footer {
    background-color: var(--text-color);
}

.site-footer__container {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 6px;
    padding-right: 74px;
}

.site-footer__logo-link {
    color: #fff;
    margin-right: 63px;
}

.site-footer__sitenav-link {
    color: #fff;
}

.site-footer__icon {
    display: flex;
}

.site-footer__icon-link {
    color: #fff;
    display: flex;
    transition: color 0.4s ease;
}

.site-footer__icon-link:hover {
    color: var(--text-color-hover);
}

.site-footer__icon-link:first-child {
    margin-right: 40px;
}

